@font-face {
	font-family: "MinionPro-Regular";
	src: url("../fonts/MinionPro-Regular.eot");
	src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/MinionPro-Regular.woff") format("woff"),
			 url("../fonts/MinionPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: MinionPro-Bold; /* Гарнитура шрифта */
    src: url(../fonts/MinionPro-Bold.ttf); /* Путь к файлу со шрифтом */
}

