*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}
h1 {font-family: "MinionPro-Regular", sans-serif; font-size: 40px; text-transform: uppercase; margin-top: 0;}
body {
	font-family: sans-serif;
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "MinionPro-Regular", sans-serif;
	overflow-x: hidden;
}



.hidden {
	display: none;
}

.butt_clik {
	text-transform: uppercase;
	padding: 10px 40px;
	background: #f8de99;
	font-weight: 600;
	color: #000;
	font-family: "Myriad Pro Blod";
	border: none;
}
.butt_clik:hover {
	border: 3px solid #f8de99;
	background: #fff;
}

header {
	background-image: url("../img/header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
	width: 100%;
	padding: 40px;
	color: #fff;
}
header img {display: block;position: relative;margin: 0 auto;}
span {color: #f8de99; font-family: "MinionPro-Bold";}
ul {
    list-style-image: url(../img/ul_list.jpg); /* Путь к изображению маркера */
   }
.h1_header {
    text-transform: uppercase;
    font-size: 45px;
    line-height: 47px;
}

.line_height {
	border-bottom: 3px solid #f8de99;
	width: 18%;
}
.p_header {font-size: 20px; padding: 0; margin: 0;}
.tarif {text-transform: uppercase; font-size: 20px; padding-bottom: 0; margin-bottom: 0;}
.float {float: left; width: 50%;}
.top {margin-top: 25px; margin-left: 10px;}
.slider {background: #f2f2f2;}

.line_bot_sirion {
    border-bottom: 3px solid #dedede;
    width: 56%;
    display: -webkit-inline-box;
    text-align: center;
    position: relative;
    height: auto;
    margin-bottom: 10px;
}

.folat {
    padding-top: 24px;
    float: right;
}
.folatd {
    padding-top: 24px;
    float: left;
}
.img_tohc { margin-top: 15px; }

.bolk_form form {
    background-color: #fff;
    padding: 50px 30px;
    width: 80%;
    text-align: center;
    box-shadow: 0 0 22px rgba(0,3,6,0.5);
    color: #3b3b3b;
}
.bolk_form input[type="text"] {
    height: 50px;
    width: 100%;
    border: 1px solid #e2e2e2;
    font-size: 15px;
    padding: 0 20px;
    margin-top: 20px;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    background-color: #f8de99;
    font-size: 20px;
    color: #000;
    height: 72px;
    margin-top: 38px;
    box-shadow: 0px 6px 48px #12ace329;
    padding: 0px;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.forma_1 {padding: 80px 0;}
.bolk_form form h1 {font-size: 28px; margin: 0; padding: 0;}
.bolk_form form p { margin: 0; padding: 0;}

.forma_1 ol li { padding: 10px 0; font-size: 18px; }

.mans_bg_1 {
	background-image: url("../img/bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
	width: 100%;
	padding: 40px;
	color: #fff;
}
.bloke_that img {
    margin-top: -32px;
}
.bloke_that {
    display: inline-block;
    margin-left: 10px;
}

.whatyouKnow {
    margin: 20px;
}

.wtah_bottm h3 {
	text-transform: uppercase;
	text-align: center;
	color: #f8de99;
}

.wtah_bottm {
    margin-top: 50px;
}

.wtah_bottm h3 {margin-bottom: 0;}

.colizri {margin:60px 0;}

.spisok {
    display: inline-flex;
}

.spisok .li_spi p {
    margin-top: -3px;
    margin-left: 11px;
    margin-bottom: 9px;
    font-size: 16px;
}

.bok_ramka {
    width: 67%;
    border: 10px solid #f8de99;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 30px 40px;
}
.bok_ramka h3 {text-transform: uppercase; margin: 0; padding: 0;}

.bok_ramka p{margin: 0; padding: 0;}

.coment {
	background-image: url("../img/bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
	width: 100%;
	padding: 40px;
	color: #fff;
}

.line_bot_sirion_2 {
    border-bottom: 3px solid #dedede;
    width: 50%;
    display: -webkit-inline-box;
    text-align: center;
    position: relative;
    height: auto;
        margin-left: 3px;
}
.text_p {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}
section.o {
	padding: 40px 0;
}
section.o .blok_img_o {
    text-align: center;
    margin: 50px 0;
}
section.o .blok_img_o h4, p { margin: 10px 0; }

section.experience {
	background-image: url("../img/bg3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
	width: 100%;
	padding: 40px;
	color: #fff;
}

.blok_expe_m_g h4 {
	color: #f8de99;
}

.blok_expe_m_g p {
	color: #696969;
}

.blok_expe_m_g h4, .blok_expe_m_g p {
	text-align: center;
	padding: 0;
	margin: 5px 0;
}

.blok_expe_m_g ul li {
    margin-left: 80px;
    margin-bottom: 5px;
}

footer {
	background-image: url("../img/bg4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
	width: 100%;
	padding: 40px;
	color: #fff;
}


.line_bot_sirion_2f {
    border-bottom: 1px solid #dedede;
    width: 80%;
    display: -webkit-inline-box;
    text-align: center;
    position: relative;
    height: auto;
    margin-left: 20px;
    margin-bottom: 16px;
}


.bolk_f_nam h2 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: #f8de99;
}

.bolk_f_nam p {
    margin: -10px 0 15px 0;
    padding: 0;
}

.bolk_formF {
	text-align: center;
}

.bolk_formF input[type="text"] {
    height: 50px;
    width: 100%;
    border: 1px solid #e2e2e2;
    font-size: 15px;
    padding: 0 20px;
    background: #fff0;
    margin-top: 20px;
    outline: none;
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
    }
    .page-header h3 {
        line-height: 0.88rem;
        color: #000;
        }



/* Thumbnail Box */
.caption h4 {
    font-size: 1rem;
    color: #444;
    }
    .caption p {
        font-size: 0.75rem;
        color: #999;
        }
        .btn.btn-mini {
            font-size: 0.63rem;
            }


/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
    }
    .carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
        }

